.restaurantCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}